<!DOCTYPE html>
<html lang="en" ng-app="firstApp">
  <head>
    <meta charset="utf-8">
    <title>Controllers</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body>
    <div ng-controller="MyFirstController">
      <h1>My name is: {{name}}</h1>
      <input ng-model="name" type="text" placeholder="What is your name">
    </div>

    <div ng-controller="ExercisesController">
      <h2>My favorite color is {{FavColor}}</h2>
      <h3>{{secondsInACentury | number}}</h3>
      <b>{{date | date:'fullDate'}}</b>
    </div>

    <div class="row">
    <div ng-form class="col-xs-6">
      <h1 class="red">Please fill out the following!</h1>
      Boy's Name<br>
      <input type="text" ng-model="boyName" placeholder="Enter a boy's name ...">
      <br>Adjective<br>
      <input type="text" ng-model="adjective" placeholder="Enter an adjective ...">
      <br>Plural Noun<br>
      <input type="text" ng-model="noun1" placeholder="Enter a plural noun ...">
      <br>Plural Noun<br>
      <input type="text" ng-model="noun2" placeholder="Enter a plural noun ...">
      <br>An insect, plural<br>
      <input type="text" ng-model="insect" placeholder="Enter an insect, plural ...">
      <br>Plural Noun<br>
      <input type="text" ng-model="noun3" placeholder="Enter a plural noun ...">
      <br>A verb ending in "s"<br>
      <input type="text" ng-model="verb" placeholder="Enter a verb ending in 's' ...">
      <br>
      <button class="btn btn-danger">Generate!</button>
    </div>

    <div class="col-xs-6" ng-model="madLibs">
      <h3>I'm in love with <span>{{ boyName }}</span>. He's so <span> {{ adjective }} </span>! He has big flat
        <span>{{ noun1 }}</span>, and when our <span>{{ noun2 }}</span> meet, I get <span>{{ insect }}</span>
         in my stomach. I've fallen for him like a ton of <span>{{ noun3 }}</span>, and he <span>{{ verb }}</span>
         for me, too. But I think he's got another girlfriend. What should I do?</h3>
    </div>
  </div>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
  </body>
</html>
