<!DOCTYPE html>
<html lang="en" ng-app='myApp'>
  <head>
    <meta charset="utf-8">
    <title>{{ greeting }} World</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body>
    <p>{{1 + 6}}<p>
    <br>
    <p>Say something to the world <input type="text" ng-model="greeting" ng-init="greeting='Hello, '"></p>
    <p>{{ greeting }} world!</p>

    <input type="text" ng-model="name" placeholder="What is your name?">
    <h1>My name is: {{name}}</h1>

    <select name="cars" ng-model="animal">
      <option value="dogs">Dog</option>
      <option value="cats">Cat</option>
      <option value="lizards">Lizard</option>
      <option value="hamsters">Hamster</option>
      <option value="dragons">Dragon</option>
      <option value="unicorns">Unicorn</option>
      <option value="neither">Neither</option>
    </select>
    <h3>I Love {{animal}} <3</h3>

    <div ng-cloak>
       Welcome {{data.name}}
    </div>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
  </body>
</html>
