<!DOCTYPE html>
<html lang="en" ng-app='myApp'>
  <head>
    <meta charset="utf-8">
    <title>{{ greeting }} World</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body>

    <input type="text" ng-model="firstname" placeholder="First Name">
    <input type="text" ng-model="lastname" placeholder="Last Name">
    <h1>My name is: {{firstname}} {{lastname}}</h1><br>

    <select name="cars" ng-model="greeting">
      <option value="hello">Hello</option>
      <option value="Greetings">Greetings</option>
      <option value="Salutations">Salutations</option>
      <option value="Live long and prosper">Live long and prosper</option>
    </select>
    <h3>{{greeting}}</h3><br>

    <p>Say something <input type="text" ng-model="greeting" ng-init="greeting='Hello, '"></p>
    <p>{{ greeting }} {{firstname}}</p>


    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
  </body>
</html>
